# Compiled files
target/
*.class

# IDE files
.idea/
*.iml
.settings/
.project
.classpath
.mvn/
nb-configuration.xml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker volumes (opcional)
mysql_data/